* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
    color: #3a3a3a;
    background-color: #fff2f2;
}

p {
	font-size: .95em;
    margin-bottom: 1.8em;
    color: #a48b5d;
}

h1 {
    font-family: 'Noto Sans';
    margin: 0;
    padding: 1em;
}

h2,
h3 {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
    text-decoration: none;
}

img {
	max-width: 100%;
}

/* Navigation-content */

.main-nav {
    background-color: #1c6e8c;
    text-align: center;
    box-shadow: 10px 8px 50px rgba(0,0,0,30);
    padding-bottom: 30px;
}

.name {
    color: #9dd6eb;
}

.links a {
    display: block;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 10px;
}

a {
    color: #9dd6eb;
}

 .links a:hover {
    color: #fff2f2;
    background-color: #e55934;
}

.links a:active {
    color: #d60000;
}

.name {
    padding-top: 30px;
}

/* Banner-content */

.banner {
    padding-top: 4em;
    text-align: center;
}

/* Main-contnet */

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 2%;
}
.main-content {
    text-align: center;
}

/* Section-Portfolio */

.col h3 {
    padding-top: 30px;
    margin-bottom: 0;
}

.image {
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 10px 8px 50px rgba(0,0,0,30);
}

.main-content h2 {
    padding-top: 100px;
}

/* Section-Contact */

.last-section {
    padding-bottom: 50px;
    color: #a48b5d;
}



.last-section ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
  }
  
.last-section ul li {
display: inline-block;
}

a.social {
display: inline-block;
text-indent: -9999px;
margin-left: 5px;
width: 30px;
height: 30px;
background-size: 30px 30px;
opacity: .4;
transition: all .5s;
}

a.linkedin {
background-image: url(../images/linkedin.svg);
}
a.github {
background-image: url(../images/github.svg);
}
a.social:hover {
opacity: 1;
}

/* Footer-content */

footer {
text-align: center;
background-color: #bcdbc5;
}

.footer-name {
    display: inline-block;
    text-align: left;
    width: 50%;
    padding: 3% 0 3% 5%;
    margin: 0;
}

.back {
    display: inline-block;
    text-align: right;
    width: 50%;
    padding: 3% 5% 3% 0;
    margin: -4px;
    font-weight: bold;
    color: #1d7494;
}

.footer-links {
    display: none;
}

.footer-links a {
    color: #1d7494;
}
/* Clearfix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Media-Queries */

  @media (min-width: 768px) {
   
    p {
        font-size: 1em;
    }
   
    .container {
        margin: 0 auto;
        width: 90%;
    }

/* Navigation */

    .main-nav {
        display: inline-block;
        width: 100%;
        padding-bottom: 0;
    }

    .links {
        display: inline-block;
        margin: -4px;
        width: 100%;
        padding: 2% 0;
    }

    .links a {
        display: inline-block;
        padding: 1em 2em;
    }

    .links li {
        display: inline-block;
    }

    .name {
        display: inline-block;
        width: 100%;
        padding: 2% 0;
        margin: 0;
    }

/* Banner-Content */

    .banner-img {
        float: right;
        padding: 0 2em;
    }

/* Main-Content */

    .main-content {
        display: inline-block;
        
    }
/* Section-Portfolio */

    .col {
        display: inline-block;
        width: 50%;
        margin: -4px;
        padding: 0 2em;
        vertical-align: top;
    }

    /* Section-Contact */

    .last-section p {
        padding: 0 2em;
    }
    .last-section ol li {
        font-size: 1em;
    }

    /* Footer-Content */

    .footer-name {
        display: inline-block;
        text-align: left;
        width: 50%;
        padding: 3% 0 3% 5%;
        margin: 0;
    }
    
    .footer-links {
        display: inline-block;
        text-align: right;
        margin: -4px;
        width: 50%;
        padding: 3% 5% 3% 0;
    }
    
    .footer-links a,
    .footer-links li {
        display: inline-block;
    }
    
    .footer-links a {
        display: block;
        padding: .5em .5em;
        font-weight: bold;
        border-radius: 10px;
    }
    
     .footer-links a:hover {
        color: #fff2f2;
        background-color: #e55934;
    }

    .back {
        display: none;
    }
  }

  @media (min-width: 1024px) {

    p {
        font-size: 1.2em;
    }

    .container {
        width: 80%;
        max-width: 1125px;
    }

/* Navigation */

    .links {
        display: inline-block;
        text-align: right;
        margin: -4px;
        width: 50%;
        padding: 2% 5% 2% 0;
    }

    .links a {
        display: inline-block;
        padding: 1em 1em;
    }

    .links li {
        display: inline-block;
    }

    .name {
        display: inline-block;
        text-align: left;
        width: 50%;
        padding: 2% 0 2% 5%;
        margin: 0;
    }

/* Main-Content */

    .col {
        display: inline-block;
        width: 33.33%;
        margin: -4px;
        padding: 0 2em;
        vertical-align: top;
    }

/* Section-Contact */

    .last-section ol li {
        font-size: 1.2em;
    }

  }


  

