* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
    text-decoration: none;
}

img {
	max-width: 100%;
}

/* Navigation-content */

.main-nav {
    background-color: #1c6e8c;
    text-align: center;
    box-shadow: 10px 8px 50px rgba(0,0,0,30);
}

.name,
.links {
    color: #9dd6eb;
}

.links a {
    display: block;
    padding: 5px 5px;
    font-weight: bold;
    border-radius: 10px;
}

 .links a:hover {
    color: #fff2f2;
    background-color: #e55934;
}

.name {
    padding-top: 30px;
}

/* Banner-content */

.banner {
    padding-top: 4em;
    text-align: center;
}

/* Main-contnet */

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 2%;
}
.main-content {
    text-align: center;
}

/* Section-Portfolio */

.col h3 {
    padding-top: 30px;
    margin-bottom: 0;
}

.image {
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 10px 8px 50px rgba(0,0,0,30);
}

.main-content h2 {
    padding-top: 60px;
}

/* Section-Skills */

.html,
.css {
    background-color: #7fcae5;
    padding: 1em 1em;
    border-radius: 10px;
    box-shadow: 10px 8px 50px rgba(0,0,0,30);
}

.html {
    margin-bottom: 20px;
}

/* Section-Contact */

.last-section {
    padding-bottom: 50px;
}

.last-section ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
  }
  
.last-section ul li {
display: inline-block;
}

a.social {
display: inline-block;
text-indent: -9999px;
margin-left: 5px;
width: 30px;
height: 30px;
background-size: 30px 30px;
opacity: .4;
transition: all .5s;
}

a.linkedin {
background-image: url(../images/linkedin.svg);
}
a.github {
background-image: url(../images/github.svg);
}
a.social:hover {
opacity: 1;
}
.clearfix {
clear: both;
}

/* Footer-content */

footer {
text-align: center;
background-color: #bcdbc5;
}

.footer-name {
    display: inline-block;
    text-align: left;
    width: 50%;
    padding: 3% 0 3% 5%;
    margin: 0;
}

.footer-links {
    display: inline-block;
    text-align: right;
    margin: -4px;
    width: 50%;
    padding: 3% 5% 3% 0;
}

.footer-links a,
.footer-links li {
    display: inline-block;
}

.footer-links a {
    display: block;
    padding: 1em 1em;
    font-weight: bold;
    border-radius: 10px;
}

 .footer-links a:hover {
    color: #fff2f2;
    background-color: #e55934;
}

/* Media-Queries */

  @media (min-width: 768px) {
    
    .container {
        margin: 0 auto;
        width: 90%;
    }

/* Navigation */

    .main-nav {
        display: inline-block;
        width: 100%;
    }

    .links {
        display: inline-block;
        margin: -4px;
        width: 100%;
        padding: 2% 0;
    }

    .links a {
        display: inline-block;
        padding: 1em 2em;
    }

    .links li {
        display: inline-block;
    }

    .name {
        display: inline-block;
        width: 100%;
        padding: 2% 0;
        margin: 0;
    }

    /* Banner-Content */
    .banner-img {
        float: right;
        padding: 0 2em;
    }

    /* Main-Content */

    .main-content {
        display: inline-block;
        
    }

    .col {
        display: inline-block;
        width: 50%;
        margin: -4px;
        padding: 0 2em;
        vertical-align: top;
    }

  }

  @media (min-width: 1024px) {

    .container {
        width: 80%;
        max-width: 1125px;
    }

/* Navigation */

    .links {
        display: inline-block;
        text-align: right;
        margin: -4px;
        width: 50%;
        padding: 2% 5% 2% 0;
    }

    .links a {
        display: inline-block;
        padding: 1em 1em;
    }

    .links li {
        display: inline-block;
    }

    .name {
        display: inline-block;
        text-align: left;
        width: 50%;
        padding: 2% 0 2% 5%;
        margin: 0;
    }

/* Main-Content */

    .col {
        display: inline-block;
        width: 33.33%;
        margin: -4px;
        padding: 0 2em;
        vertical-align: top;
    }

  }


  

